/*
Colors used:
Primary #247BA0
Secondary #C3B299
Tertiary #CBD4C2
Gray1 #50514F
Gray2 #272B24
White #FFFCFF
Black #0E100B
*/
/* Fonts Used Karma Bold and Gudea Regular
.karma-light {
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .karma-regular {
    font-family: "Karma", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .karma-medium {
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .karma-semibold {
    font-family: "Karma", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .karma-bold {
    font-family: "Karma", serif;
    font-weight: 700;
    font-style: normal;
  }

  .gudea-regular {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gudea-regular-italic {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.gudea-bold {
  font-family: "Gudea", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #272b24;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #0e100b;
}

header {
    background-color: #272b24;
    padding: 10px 0;
    text-align: center;
    /* margin: 0px 15px; */
    border-bottom: 3px solid #247ba0;
    color: #cbd4c2;
    position: fixed;   
    width: 100%;
}

main {
    padding-top: 66px;
    background-color: #fffcff;
}

footer {
    background-color: #272b24;
    color: #cbd4c2;
    margin: 0;
}



nav > ul { /*unordered lists in any nav section*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* nav > ul > li {
    display: inline-block;
} */

nav > ul > li > a { /*altering text within the unordered list items*/
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    /* color: #0e100b; */
    font-family: 'Karma', serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 1.75em;
    font-weight: 700;
}
h2 {
    font-size: 1.313em;
    font-weight: 700;
    padding-top: 15px;
}
h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
}
h4 {
    font-size: .75em;
    font-weight: 700;
}

p {
    margin: 0;
}

img {
    width: 100%;
    border: solid 1px #247BA0;
    border-radius: 20px;
}

.social-img {
    border: none;
}

span {
    font-size: .75em;
    font-weight: 700    
}

.hero-span {
    display: block;
}



a { /*links*/
   color: #cbd4c2;
   text-decoration: none; 
}
a:visited {
    color: #cbd4c2;
}
a:hover {
    color: #cbd4c2;
    text-decoration: underline;
}
a:active {
    color: #247ba0;
}

.button-primary { /*buttons*/
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #247ba0;
  color: #cbd4c2; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s opacity;
}
.button-primary:hover {
    opacity: .8;
    text-decoration:none;
    color:#cbd4c2;
}
.button-secondary {
    display: inline-block;
    background-color: #cbd4c2;
    color: #247ba0;
    font-weight: 400;
    padding: 10px;
    border: 2px solid #247ba0;
    border-radius: 10px;
    border-color: #247ba0;
    transition: .2s opacity;
}
.button-secondary:hover {
    opacity: .8;
    color: #247ba0;
    text-decoration: none;
}

.button-primary,.button-secondary {
    margin: 10px 0;
}

.container {
    padding: 0 15px;
}

.hero-section {
    background-color: #272b24;
    padding: 10 10;
    display: inline-block;
    width: 100%;
    margin: 0;
    border-bottom: 3px #247BA0;
    text-align: justify;
}

.hero-section > div {
    padding: 0 15px;
    margin: 1em;
}

.hero-section > div > p {
    margin: 0 1em;
}

.about-section  p {
    text-align: justify;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row li {
    text-align: left;
}

#main h1, h2 {
    text-align: center;
    margin: 0;
}

.center {
    text-align: center;
}

.logo {
    max-width: 150px;
    border-radius: 0;
    border: none;
}

.berlin-illustration { /* didn't really have any effect since the svg is already in a container class div */
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* #main {
    padding: 20px 0;
} */

.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #272b24; 
	border-bottom: 3px solid #247BA0 0; 
	box-shadow: 0 2px 6px rgba(64, 64, 64, 0.7)  ; 
	-webkit-box-shadow: 0 2px 6px rgba(64, 64, 64, 0.7)  ; 
	-moz-box-shadow: 0 2px 6px rgba(64, 64, 64, 0.7)  ; 
}

#contact {
    text-align: center;
    max-width: 640px;
}

#justify {
    text-align: justify;
}

.column > h3 > p {
    text-align: justify;
}

.social-links > ul {
    padding: 0px;
}

.social-links > ul > li {
    display:inline-block;
    margin: 0 5px;
    height: 32px;
    width: 32px;
    list-style-type: none;
}

.about-picture {
    width: 50%;
    float: right;
    margin: 0 0 20px 20px;
    border-radius: 5%;
}

.project-header {
    margin: 0;
}

.project-picture {
    width: 100%;
}

#page-header {
    padding-top: 10px;
}

.project-paragraph {
    padding-bottom: 15px;
}

.indent {
    text-indent: 30px;
    padding-bottom: 15px;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #247BA0;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

/* [class*="col-"] {
    float: left;
} */

/*media queries, put these last*/

@media only screen and (min-width: 640px) {
    
    header {
        text-align: unset;
        padding: 10px 0 4px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    main {
        padding-top: 79px;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {
        display: inline-block;
    }

    #about-page h3 > ul {
        margin: 5px 1em 5px 20px;
        text-align: justify;
    }

    .column h3 {
        text-align: center;
    }

    .column p {
        text-align: justify;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-8 {
        width: 66.64%;
    }

    .col-md-4 {
        width: 33.32%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    #contact {
        margin: 0 auto;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }
    
    /*This almost does what I want it to do. The container just starts to hug
    the left side of the screen when it gets past a certain size*/
    /* #project-container {
        max-width: 768px;
        padding: 0 15px;
    } */

    /* .container {
        max-width: 640px;
    } */

}

@media only screen and (min-width: 1024px) {
   body {
    font-size: 18px;
   }

   .hero-section {
    text-align: center;
   }

   .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    }

    .hero-container {
        max-width: 1024px;
        margin: 0 auto 0 auto;
    }

    .col-lg-8 {
        width: 66.64%;
    }

    .col-lg-4 {
        width: 33.32%;
    }

    .project-paragraph {
        text-align: justify;
        margin-right: 0%;
    }

    .project-paragraph-hero {
        margin: 0 20% 0 20%;
    }

    /*This almost does what I want it to do. The container just starts to hug
    the left side of the screen when it gets past a certain size*/
    /* #project-container {
        margin: 0 10% 0 10%;
    } */

}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1920px) {
    body {
        font-size: 20px;
    }
}

/*animations*/

.sun {
    animation-name: color-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* could be written shorthand as 
.sun {
    animation: 4s color-change infinite alternate linear;
}
*/

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px,48px);}
}